.button {
  text-align: center;
  border: 0;
  cursor: pointer;
  min-width: 125px;
  &.bg {
    &-orange {
      background: #f90;
      color: #fff;
    }
    &-cyan {
      background: #398FED;
      color: #fff;
    }
  }

  &:hover {
    opacity: 0.7;
  }

}