$line_height: 2px;
$line_width: 13px - 4px;

.hamburger {
  width: 42px;
  height: 42px;
  margin: 8px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;

  &-line {
    position: absolute;
    transition: 0.3s;
    width: calc(100% - #{$line_width} * 2);
    height: $line_height;
    background: #fff;

    &.top {
      top: 13px;
      left: $line_width;
    }
    &.middle {
      top: calc(50% - #{$line_height}/2);
      left: $line_width;
    }
    &.bottom {
      bottom: 13px;
      left: $line_width;
    }
  }

  &.active {
    .top {
      top: calc(50% - #{$line_height}/2);
      transform: rotate(45deg);
      }
    .middle {
      width: 0;
      height: 0;
      left: $line_width;
    }
    .bottom {
      top: calc(50% - #{$line_height}/2);
      transform: rotate(-45deg);
    }
  }

}