
.hamburger {
  width: 42px;
  height: 42px;
  margin: 8px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  background: #444;

  &-line {
    position: absolute;
    transition: 0.3s;
    width: calc(100% - 13px * 2);
    height: 1px;
    background: #fff;

    &.top {
      top: 13px;
      left: 13px;
    }
    &.middle {
      top: calc(50% - 1px/2);
      left: 13px;
    }
    &.bottom {
      bottom: 13px;
      left: 13px;
    }
  }

  &.active {
    .top {
      top: calc(50% - 1px/2);
      transform: rotate(45deg);
      }
    .middle {
      width: 0;
      height: 0;
      left: 13px;
    }
    .bottom {
      top: calc(50% - 1px/2);
      transform: rotate(-45deg);
    }
  }

}