.lists {
  list-style-type: none;

  @include pc {
    display: contents;

    &-title {
      padding: 20px 15px 20px 15px !important;
      line-height: normal;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      &-icon {
        cursor: pointer;
        i {
          font-size: 28px;
        }
        i:hover {
          opacity: 0.5;
        }
      }

    }

    li {
      border-bottom: 1px #ccc solid;
      padding: 0;
    }

    a {
      color: #222;
      display: block;
      text-decoration: none;
      padding: 15px;
    }
    a:hover {
      color: #999;
    }
  }

  @include tablet {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    &-title {
      display: block;
      padding: 8px 0;
      &-tag {
        padding-left: 10px;
      }

      &-icon {
        display: none;
      }
    }

    li {
      width: auto;
      white-space: wrap;
      text-align: center;
      margin-bottom: 4px;

      .tag {
        min-width: 95px;
        display: inline-block;
        background:#fff;
        line-height: normal;
        font-size: 12px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 15px;
        border: 1px #ccc solid;
      }

      &:before {
        content: '';
        margin-right: 15px;
      }
    }

    a {
      color: #222;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }

  }

  @include sp {
    font-size: 13px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    &-title {
      display: block;
      margin: 8px 0;
      &-tag {
        padding-left: 10px;
      }

      &-icon {
        display: none;
      }
    }

    li {
      width: auto;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 4px;

      .tag {
        min-width: 95px;
        display: inline-block;
        background:#fff;
        line-height: normal;
        font-size: 12px;
        width: auto;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 15px;
        border: 1px #ccc solid;
      }

      &:before {
        content: '';
        margin-right: 15px;
      }
    }

    a {
      color: #222;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }

  }

}