.lists {
  list-style-type: none;

  @include pc {
    display: contents;

    &-title {
      padding: 20px 15px 20px 15px !important;
      line-height: normal;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      &-icon {
        cursor: pointer;
        i {
          font-size: 28px;
        }
        i:hover {
          opacity: 0.5;
        }
      }

    }

    li {
      border-bottom: 1px #ccc solid;
      padding: 0;
    }

    a {
      color: #222;
      display: block;
      text-decoration: none;
      padding: 15px;
    }
    a:hover {
      color: #999;
    }
  }

  @include tablet {
    font-size: 13px;
    display: flex;

    &-title {
      display: block;
      height: 35px;
      line-height: 35px;
      &-tag {
        padding-left: 10px;
      }

      &-icon {
        display: none;
      }
    }

    li {
      width: auto;
      white-space: nowrap;
      text-align: center;
      padding: 4px 0 4px 0;

      .tag {
        display: inline-block;
        background:#fff;
        line-height: normal;
        font-size: 12px;
        line-height: 32px;
        height: 35px;
        width: auto;
        padding: 0 10px 0 0;
        box-sizing: border-box;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px #ccc solid;
        &:before {
          content: '●';
          color: #333;
          font-size: 13px;
          margin-right: 10px;
          margin-left: 10px;
          line-height: 0;
          height: 35px;
        }
      }

      &:after {
        content: '';
        margin-right: 10px;
      }
    }

    a {
      color: #222;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }

  }

  @include sp {
    font-size: 13px;
    display: flex;

    &-title {
      display: block;
      height: 35px;
      line-height: 35px;
      &-tag {
        padding-left: 10px;
      }

      &-icon {
        display: none;
      }
    }

    li {
      width: auto;
      white-space: nowrap;
      text-align: center;
      padding: 4px 0 4px 0;

      .tag {
        display: inline-block;
        background:#fff;
        line-height: normal;
        font-size: 12px;
        line-height: 32px;
        height: 35px;
        width: auto;
        padding: 0 10px 0 0;
        box-sizing: border-box;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px #ccc solid;
        &:before {
          content: '●';
          color: #333;
          font-size: 13px;
          margin-right: 10px;
          margin-left: 10px;
          line-height: 0;
          height: 35px;
        }
      }

      &:after {
        content: '';
        margin-right: 10px;
      }
    }

    a {
      color: #222;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }

  }

}