.top {
  @include pc {
    max-width: 1440px;
    margin: 0 auto;
    &__wrap {
      display: flex;
    }
  }

  @include tablet {
    &__wrap {
      display: block;
    }
  }

  @include sp {
    &__wrap {
      display: block;
    }
  }

}