.top {
  @include pc {
    &__wrap {
      display: flex;
    }
  }

  @include tablet {
    &__wrap {
      display: block;
    }
  }

  @include sp {
    &__wrap {
      display: block;
    }
  }

}