.left-menu-slider {

  @include pc {
    background: #fff;
    box-sizing: border-box;
    box-shadow: -1px -1px 4px #ccc inset;
    width: 320px;
    min-width: 320px;
    margin: 10px;

    &.hide {
      width: 35px;
      min-width: 35px;
      max-width: 35px;
      margin: 0;
      .wrapper {
        background: #fff;
        width: auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 28px;
        }
      }

      &:hover {
        opacity: 0.7;
      }

    }

  }

  @include tablet {
    width: 100%;
    overflow: scroll;
    &__wrap {
      display: flex;
    }
  }

  @include sp {
    width: 100%;
    overflow: scroll;
    &__wrap {
      display: flex;
    }

    &.hide {
      width: 100%;
      margin: 0;
      .wrapper {
        background: #fff;
        width: auto;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 28px;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }

  }
}