.thumbnail-controller {
  margin-top: 10px;
  padding: 0 5px 5px 5px;

  @include pc_tablet {
    &__box {
      display: flex;
      padding: 0 10px 0 10px;
      &-content {
        width: 50%;
        line-height: 38px;
        display: flex;
        dl {
          display: flex;
          margin-right: 10px;
          &:last-child {
            margin: 0;
          }
          dt {
            overflow-wrap: break-word;
            white-space: nowrap;
          }
        }
      }
    }
    &__inner {
      background: #fff;
      height: 40px;
    }
    &-mobile {
      display: none;
    }
  }

  @include sp {
    &__box {
      display: none;
    }

    &-mobile {
      display: block;
    }

  }

}